
body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: Arial;
  letter-spacing: 3px;
  direction: rtl;
}

h2, h3 {
  color: firebrick;
}

h1{
  color: #a02;
}

h3 {
    font-size: 250%;
}

tr {
    background-color: deeppink;
}

tr:nth-child(2n-1) {
    background-color: hotpink;
}

table{
    direction: ltr;
}

@font-face {
    font-family: Gurina;
    src: url(first.otf);
}

li a {
    margin-right: 1em;
    font-size: 140%;
    display: block;
    width: 200px;
    display: block;
    color: lightblue;
    padding: 8px 8px 8px 12px;
    text-decoration: none;
}

li a:hover {
    background-color: peachpuff;
    color: darkred;
}

ul {
    text-align: right;
    list-style-type: none;
    padding: 0.5em;
    width: 14em;
    background-color: indianred;
}

p {
  color: black;
}

header, footer {
  margin: 100px;
  background-color: #ccc;
  margin: auto;
  width: 100%;
  display: block;
}

header {
  top: 0;
  position: fixed;
}

.body {
  top: 8em;
  position: relative;
}

footer {
  bottom: 0;
  position: fixed;
}

.icon_holder {
  color: #a02;
  background-color: #ccc;
  display: inline-block;
  position: relative;
}

.fa {
  font-size: 24pt;
  margin-right: 0.25em;
}

.sList {
  display: inline-block;
}
