body {
  font-family: Arial;
  font-family: Roboto;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  letter-spacing: 3px;
  direction: rtl;
}

h1 {
  background: #a02;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background: #fff;
  color: #666;
}

span {
  background: #e74c3c;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

li a {
  font-size: 140%;
  display: block;
  text-decoration: none;
}

li a:hover {
  background-color: peachpuff;
  color: darkred;
}

input {
  color: #a02;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  /* prefixes for browsers other than Chrome may be needed */
  box-sizing: border-box;
  border: 2px solid rgba(0,0,0,0);
}

input:focus {
  background: #fff;
  border: 3px solid #a02;
  color: #444;
  outline: none;
}

li:nth-child(2n) {
  background: #f7f7f7;
}

/*when hover over li, span appears (its width changes from 0 to 40px)*/
li:hover span {
  width: 40px;
  opacity: 1.0;
  border-radius: 3px;
}

#container {
  font-size: 200%;
  width: 90%;
  margin: 100px auto;
  background: #f7f7f7;
}

p {
  color: black;
}

header, footer {
  margin: 100px;
  margin: auto; /* ^ which one? */
  background-color: #ccc;
  width: 100%;
  display: block;
}

header {
  top: 0;
  position: fixed;
}

footer {
  bottom: 0;
  position: fixed;
  text-align: center;
}

.icon_holder {
  color: #a02;
  background-color: #ccc;
  display: inline-block;
  position: relative;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

.fa {
  font-size: 3em;
  margin-right: 0.25em;
}
/*
.fa-plus {
  float: left;
}*/
