body {
    margin:0px;
    padding: 0px;
    background-color: lightcoral;
    font-family: Arial;
    letter-spacing: 3px;
    direction: rtl;
}

h1, h2, h3 {
    letter-spacing: 7px;
    color: firebrick;
    margin-right: 20px;
    font-size: 550%;
}

h1{
    color: antiquewhite;
    text-shadow: 2px 2px #b50b13;
}

h3 {
    font-size: 250%;
}

tr {
    background-color: deeppink;
}

tr:nth-child(2n-1) {
    background-color: hotpink;
}

table{
    direction: ltr;
}

@font-face {
    font-family: Gurina;
    src: url(first.otf);
}

li a {
    margin-right: 1em;
    font-size: 140%;
    display: block;
    width: 200px;
    display: block;
    color: lightblue;
    padding: 8px 8px 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: peachpuff;
    color: darkred;
}

ul {
    list-style-type: none;
    padding: 0.5em;
    width: 14em;
    background-color: indianred;
}

#narrow {
    padding: 0em;
    float: right;
    width: 15em;
    background: lightblue;
}

#text {

}

p{
    font-size: 220%;
}

footer {
  height: 4em;
  background-color: #ccc;
  margin: auto;
  border-top: #a02 1px solid;
  text-align: center;
}

.icon_holder {
  color: #a02;
  background-color: #ccc;
  display: inline-block;
  position: relative;
  top: 1.5em;
}

.fa {
  font-size: 24pt;
  margin-right: 0.25em;
}
